/*==========================================
    referral
==========================================*/
.referral {
    padding: 120px 0 90px;
    .left-side, .right-side {
        margin-top: -7px;
        h3 {
            font-size: 32px;
            color: $hcolor-3;
            font-weight: 700;
            text-transform: capitalize;
            margin-bottom: 22px;
        }
        p {
            color: #666;
            font-size: 16px;
            line-height: 30px;
            margin-bottom: 35px;
        }
        .single-level {
            border-right: 2px solid #0088ff;
            display: flow-root;
            margin-bottom: 30px;
            box-shadow: 0px 0px 9px 2px #F5F5F5;
            .part-parcent {
                background: $base-color-2;
                width: 160px;
                text-align: center;
                padding: 33px 0 25px;
                float: left;
                span {
                    &.level-no {
                        color: $white;
                        font-family: $body-font;
                        text-transform: uppercase;
                        margin-bottom: 16px;
                        display: inline-block;
                    }
                }
                h4 {
                    font-size: 24px;
                    font-weight: 700;
                    color: $white;
                }
            }
            .part-text {
                display: table-cell;
                padding: 23px 30px 8px;
                p {
                    color: #666;
                    font-size: 16px;
                    line-height: 30px;
                margin: 0;
                }
            }
        }
    }
}